@import "setup";
body {
    background: #cbe1e9;
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    color: #454540;
}

h1,
h2 {
    text-align: center;
}

h1 {
    margin-top: 50px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
}

form {
    display: block;
    margin: 50px 150px 50px;
    padding: 50px;
    border-radius: 10px;
    background: #fefefc;
    box-shadow: 0 0 50px rgba(133, 132, 130, 0.753);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

input,
select {
    display: block;
    margin: 10px 0px 30px;
    padding: 10px;
    text-transform: none;
    letter-spacing: 0;
    font-weight: 400;
    color: #9b9b92;
}

input[type="submit"] {
    border: 0;
    background-color: #cbe1e9;
    color: #454540;
    &:hover {
        background-color: #454540;
        color: #fefefc;
    }
}

button {
    width: 40px;
    height: 40px;
    border: 0;
    margin-right: 15px;
    background-color: #454540;
    color: white;
    font-size: 1.25rem;
    transition: all 0.4s ease-out;
    &:hover,
    &:focus {
        background: #fff;
        color: #454540;
    }
}

ul {
    text-align: left;
    list-style-type: none;
    font-weight: 400;
    margin: 0px 150px 0px 150px;
    padding: 0;
}

li {
    padding: 15px;
    border-bottom: 1px solid white;
    .food {
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}