@import "setup";
body {
    // background: #cbe1e9;
    background-color: sienna;
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    color: #454540;
}

h1,
h2 {
    text-align: center;
}

h1 {
    margin-top: 50px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
}

form {
    display: block;
    margin: 50px 150px 50px;
    padding: 50px;
    border-radius: 10px;
    background: #fefefc;
    box-shadow: 0 0 50px rgba(133, 132, 130, 0.753);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    p {
        margin: 0;
    }
    .DayPickerInput-OverlayWrapper {
        background: red
    }
    .DayPicker-Month {
        margin: 0;
        position: relative;
    }
    .DayPicker-NavButton {
        position: absolute;
        top: 0;
        right: 0;
    }
    input,
    select {
        display: block;
        margin: 10px 0px 30px;
        padding: 10px;
        text-transform: none;
        letter-spacing: 0;
        font-weight: 400;
        color: #9b9b92;
    }
    input[type="submit"] {
        border: 0;
        background-color: #cbe1e9;
        color: #454540;
        padding: 10px 50px;
        transition: all 0.4s ease-out;
        &:hover {
            background-color: #454540;
            color: #fefefc;
        }
    }
}

ul {
    text-align: left;
    display: grid;
    list-style: none;
    font-weight: 400;
    margin: 0px 150px 0px 150px;
    padding: 0;
}

li {
    padding: 15px;
    border-bottom: 1px solid #9b9b92;
    background-color: #ffffff99;
    order: 1;
    .food {
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

.oldFood {
    background-color: rgba(85, 107, 47);
    color: #fff;
    order: 3;
}

.eatSoon {
    background-color: #ffffff;
    order: 0;
}

button {
    width: 40px;
    height: 40px;
    border: 0;
    margin-right: 15px;
    background-color: #454540;
    color: white;
    font-size: 1.25rem;
    transition: all 0.4s ease-out;
    &:hover,
    &:focus {
        background: #fff;
        color: #454540;
    }
}