@import "setup";
body {
    background: #cbe1e9;
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    color: #454540;
}

.heroSplash {
    background-image: url("../../images/fridge-splash.png");
    background-size: cover;
    background-position: bottom center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    padding: 30px;
    h1 {
        color: #fff;
        text-transform: uppercase;
        font-size: 3rem;
        font-weight: 600;
        letter-spacing: 2px;
        span {
            text-transform: lowercase;
            letter-spacing: 0;
        }
    }
    button {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 68px;
        background: #59C4EC;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;
    }
}

aside {
    width: 300px;
    min-height: 600px;
    background: #fff;
    position: absolute;
    top: 0;
    left: -300px;
    transition: all 0.4s linear;
    &.open {
        left: 0;
        box-shadow: 0 0 30px rgba(133, 132, 130, 0.26);
    }
}

div.App {
    margin: 0;
    padding: 68px 0px 0px;
}

header.navBar {
    height: 68px;
    margin: 0;
    padding: 20px 20px 0px 20px;
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 0 30px rgba(133, 132, 130, 0.26);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header button,
aside button {
    border: 0;
    height: 48px;
    width: 48px;
    font-size: 0.8rem;
    background: #cbe1e9;
}

aside {
    .wrapper {
        position: relative;
        button {
            position: absolute;
            top: 20px;
            right: 0px;
            font-size: 1.5rem;
        }
    }
}

h1,
h2 {
    text-align: center;
    line-height: 1.5em;
}

h1 {
    margin-top: 50px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8rem;
}

div.menuContainer {
    padding: 50px;
    background: #fff;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid #9b9b92;
    ;
    p {
        margin: 0;
    }
    .DayPicker-Caption div {
        font-size: 0.75rem;
    }
    .DayPicker-Day--today {
        background-color: #454540;
        color: #fff;
    }
    input,
    select {
        display: block;
        margin: 10px 0px 30px;
        padding: 10px;
        text-transform: none;
        letter-spacing: 0;
        font-weight: 400;
        color: #9b9b92;
        &:required,
        &:required:focus {
            box-shadow: none;
        }
    }
    input[type="submit"] {
        border: 0;
        background-color: #cbe1e9;
        color: #454540;
        padding: 10px 50px;
        transition: all 0.4s ease-out;
        &:hover {
            background-color: #454540;
            color: #fefefc;
        }
    }
}

// form {
//     display: none;
//     &.open {
//         display: block;
//     }
// }
.filterBy {
    background: #454540;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    select {
        padding: 15px;
    }
}

ul {
    text-align: left;
    display: grid;
    list-style: none;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

li {
    padding: 15px;
    border-bottom: 1px solid #9b9b92;
    background-color: rgba(255, 255, 255, 0.5);
    order: 1;
    display: grid;
    grid-template-columns: 60px 1fr;
    .food {
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    p,
    .food {
        align-self: center;
    }
    button {
        width: 40px;
        height: 40px;
        border: 0;
        margin-right: 15px;
        background-color: rgba(255, 255, 255, 0);
        color: #454540;
        font-size: 1.5rem;
        transition: all 0.4s ease-out;
        align-self: center;
        &:hover,
        &:focus {
            background: #fff;
            color: #454540;
        }
    }
}

.oldFood {
    background-color: palevioletred;
    color: #fff;
    order: 3;
}

.eatSoon {
    background-color: #ffffff;
    order: 0;
}

// The gray background
.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 50px;
}

// The modal "window"
.modal {
    background-color: #fff;
    border-radius: 5px;
    max-width: 500px;
    min-height: 300px;
    margin: 0 auto;
    padding: 30px;
}

.modal div {
    text-align: center;
}

.buttons {
    margin-top: 20px;
}

.modal-btn {
    padding: 15px;
    background-color: #cbe1e9;
    border: 0;
    width: 130px;
    height: 40px;
    margin: 5px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.cancel {
    background: #9b9b92;
}