article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body,
figure {
  margin: 0; }

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #cbe1e9;
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  color: #454540; }

h1.inventory {
  background-image: url("../../images/InventorySplash.png");
  background-size: cover;
  margin: 0;
  height: 150px;
  color: #fff;
  line-height: 150px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 3px 3px #000;
  font-size: 2rem; }

.heroSplash {
  background-image: url("../../images/fridge-splash.png");
  background-size: cover;
  background-position: bottom center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  padding: 30px; }
  .heroSplash h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 2px; }
    .heroSplash h1 span {
      text-transform: lowercase;
      letter-spacing: 0; }
  .heroSplash button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 68px;
    background: #59C4EC;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600; }

aside {
  width: 300px;
  min-height: 600px;
  background: #fff;
  position: absolute;
  top: 0;
  left: -300px;
  transition: all 0.4s linear; }
  aside.open {
    left: 0;
    box-shadow: 0 0 30px rgba(133, 132, 130, 0.26); }

div.App {
  margin: 0;
  padding: 68px 0px; }

header.navBar {
  height: 68px;
  margin: 0;
  padding: 20px 20px 0px 20px;
  background-color: #59C4EC;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 0 30px rgba(133, 132, 130, 0.26);
  display: grid;
  grid-template-columns: 50px 1fr 50px; }

header button,
aside button {
  border: 0;
  height: 48px;
  width: 48px;
  font-size: 0.8rem;
  background: #59C4EC;
  color: #fff; }
  header button:hover,
  aside button:hover {
    color: #ff0; }

aside .wrapper {
  position: relative; }
  aside .wrapper button {
    position: absolute;
    top: 20px;
    right: 0px;
    font-size: 1.5rem; }

h1,
h2 {
  text-align: center;
  line-height: 1.5em; }

h1 {
  margin-top: 50px; }

h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8rem; }

div.menuContainer {
  padding: 50px;
  background: #fff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px; }
  div.menuContainer p {
    margin: 0; }
  div.menuContainer .DayPicker-Caption div {
    font-size: 0.75rem; }
  div.menuContainer .DayPicker-Day--today {
    background-color: #454540;
    color: #fff; }
  div.menuContainer input,
  div.menuContainer select {
    display: block;
    margin: 10px 0px 30px;
    padding: 10px;
    text-transform: none;
    letter-spacing: 0;
    font-weight: 400;
    color: #9b9b92; }
    div.menuContainer input:required, div.menuContainer input:required:focus,
    div.menuContainer select:required,
    div.menuContainer select:required:focus {
      box-shadow: none; }
  div.menuContainer input[type="submit"] {
    border: 0;
    background-color: #cbe1e9;
    color: #454540;
    padding: 10px 50px;
    transition: all 0.4s ease-out; }
    div.menuContainer input[type="submit"]:hover {
      background-color: #454540;
      color: #fefefc; }

.filterBy {
  background: #454540;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0; }
  .filterBy select {
    padding: 15px; }

ul {
  text-align: left;
  display: grid;
  list-style: none;
  font-weight: 400;
  margin: 0;
  padding: 0; }

li {
  padding: 15px;
  border-bottom: 1px solid #9b9b92;
  background-color: rgba(255, 255, 255, 0.5);
  order: 1;
  display: grid;
  grid-template-columns: 60px 1fr; }
  li .food {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px; }
  li p,
  li .food {
    align-self: center; }
  li button {
    width: 40px;
    height: 40px;
    border: 0;
    margin-right: 15px;
    background-color: rgba(255, 255, 255, 0);
    color: #59C4EC;
    font-size: 1.5rem;
    transition: all 0.4s ease-out;
    align-self: center; }
    li button:hover, li button:focus {
      background: #fff;
      color: #454540; }

.oldFood {
  background-color: palevioletred;
  color: #fff;
  order: 3; }

.eatSoon {
  background-color: #ffffff;
  order: 0; }

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 50px; }

.modal {
  background-color: #fff;
  border-radius: 5px;
  max-width: 500px;
  min-height: 300px;
  margin: 0 auto;
  padding: 30px; }

.modal div {
  text-align: center; }

.buttons {
  margin-top: 20px; }

.modal-btn {
  padding: 15px;
  background-color: #cbe1e9;
  border: 0;
  width: 130px;
  height: 40px;
  margin: 5px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px; }

.cancel {
  background: #9b9b92; }
